/*--------------------------------------------------------------------------------
### Pages -> About -> About Cards
--------------------------------------------------------------------------------*/

.about-heading{
    font-size: calc(1.6875rem + ((1vw - 3.2px) * 0.463));
    line-height: 1.5;
    color: $black;
    margin: 35px 0 30px;

    span{
        font-weight: 700;
    }

    @media (max-width: 576px) {
    margin: 13px 0 -21px;
    }
}
