/*--------------------------------------------------------------------------------
### Pages -> Investor -> Team
--------------------------------------------------------------------------------*/

.team{
    h5{
        margin-bottom: 75px;

        @media (max-width: 576px) {
            margin-bottom: 63px;
            }
    }
    p{
        margin-bottom: 25px;
    }
    
}