/*--------------------------------------------------------------------------------
### Pages -> Solutions -> Our Numbers
--------------------------------------------------------------------------------*/

.our-numbers {
    .our-numbers-row {
        padding: 0 0 75px;

        @media (max-width: 576px){
        padding: 0 0 30px;

        }

        .on-col {
            padding: 50px 0;
            background-color: $gray-200;

            @media (max-width: 576px) {
                margin-bottom: 20px;
            }

            p {
                margin: 0;
            }

            @include media-breakpoint-down(sm) {
                padding: 15px 0;
            }
        }
    }
}
