/*--------------------------------------------------------------------------------
### Pages -> Home -> Main Banner
--------------------------------------------------------------------------------*/

.home-main-banner {
    background: url(../../../../images/sections/moving_bg.png);
    background-repeat: no-repeat;
    background-size: 300% 200%;
    animation: line-move 30s ease infinite;
    margin-bottom: 50px;

    @keyframes line-move {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .dashboard-imgs {
        position: relative;
        background: url(../../../../images/sections/headervideooverlay.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;

        img {
            box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
        }

        .dashbboard-desktop {

            @include media-breakpoint-between(xs, xl) {
                width: 85%;
                height: auto;
            }
        }

        .badge-img {
            position: absolute;
            left: 28%;
            bottom: -7%;

            @media (min-width: 320px) and (max-width: 425px) {
                width: 50px;
                height: auto;
                left: 4%;
                bottom:-9%;
            }

            @media (min-width: 426px) and (max-width: 768px) {
                width: 155px;
                height: auto;
                left: 5%;
                bottom: -5%;
            }

            @media (min-width: 767px) and (max-width: 1024px) {
                left: 5%;
                bottom: 14%;
            }

            @media (min-width: 1025px) and (max-width: 1440px) {
                left: 9%;
                bottom: 7%;
            }
        }

        .dashbboard-mobile {
            position: absolute;
            right: 28%;
            bottom: -5%;

            @media (min-width: 320px) and (max-width: 425px) {
                width: 85px;
                height: auto;
                right: 3%;
                top: 40%;
            }

            @media (min-width: 426px) and (max-width: 768px) {
                width: 210px;
                height: auto;
                right: 3%;
                bottom: 13%;
            }

            @media (min-width: 767px) and (max-width: 1024px) {
                right: 5%;
                bottom: -6%;
            }
            
            @media (min-width: 1025px) and (max-width: 1440px) {
                right: 9%;
                bottom: -4%;
            }
        }
    }

    .banner-content {
        margin: 86px auto 0;
        width: 70%;
        @include media-breakpoint-down(sm) {
            width: 85%;
        }

        .h7 {
            font-weight: 400;
            font-size: clamp(18px, calc(1.125rem + ((1vw - 3.2px) * 0.3846)), 22px);
            line-height: 1.2;
            margin: 20px 0 20px;

            @include media-breakpoint-down(sm) {
                margin-bottom: 48px;
            }
        }

        .display-1 {
            width: 97%;
            margin: 0 auto 15px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 40px;
            }
        }

        .h9 {
            margin-bottom: 40px;

            @include media-breakpoint-down(sm) {
                font-weight: 500;
                line-height: 2;
                font-size: 19px;
                margin-bottom: 55px;
            }
        }

        a {
            margin-bottom: 50px;
        }
    }
}
