/*--------------------------------------------------------------------------------
### Pages -> Career -> Career Section
--------------------------------------------------------------------------------*/

.working-details{

    .h3{
        margin: 0 0 60px;
        line-height: 1.5;
        color: $black;
    }

    .h5{
        color: $black;
        line-height: 1.4;
        margin-bottom: 35px;

    }
    
    p{
        color: $black;
        margin-bottom:  60px;
    
    }
}