/*--------------------------------------------------------------------------------
### Pages -> Career -> Job Looking Section
--------------------------------------------------------------------------------*/

.looking-for{
    padding: 85px 0 95px;
    background-color: #d6d3cf;

    .display-2{
        font-weight: 700;
        margin-bottom: 40px;
    }

    .h6{
        color: $black;
        line-height: 1.8;
        width: 65%;
        margin:  0 auto 50px;
    }
}